body {
    font-size: 16px;
    font-family: Arial, Helvetica, sans-serif;
    margin: 0;
}
.container {
    max-width: 1200px;
    margin: auto;
    padding: 10px;
}
a {
    color: #e6a563;
}
header {
    background-color: #efefef;
}
header a {
    text-decoration: none;
    color: #000
}
header a:hover {
    color: #e6a563;
}
h2 {
    text-align: center;
}
header .container {
    padding: 10px;
    margin-bottom: 2em;
    display: flex;
    align-items: center;
    justify-content: flex-end;
}
header img {
    width: 250px;
    margin-right: auto;

}
header ul {
    list-style-type: none;
    display: flex;
    align-items: center;
}
.button {
    background-color: #e6a563;
    border-radius: 10px;
    padding: 5px 10px;
}
.button:hover {
    background-color: #fff;
}
nav li {
    margin: 0 1em;
}
footer {
    text-align: center;
    background-color: #D9D9D9;
    padding: 20px;
}
footer img {
    width: 35px;
}
.container {
    width: 1000px;
    display: grid;
    grid-template-columns: repeat(3, 300px);
    grid-template-rows: .5fr .5fr;
    gap: 10px;
}
.featured {
    background-color: #dedede;
    width: 1000px;
    margin: auto;
    display: grid;
    grid-template-columns: repeat(3, auto);
    grid-auto-rows: auto;
    gap: 30px;
    grid-row: span 1;
    grid-column: span 3;
}
.featured img {
    width: 500px;
    grid-row: span 3;
    grid-column:  span 2;
}
.featured h3, p {
    margin-right: 50px;
}
