body {
    font-size: 16px;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
}
.item {
    display: flex;
    text-align: center;
    align-items: center;
    justify-content: center;
}
.g1 .i1 {background-color: lightgray;}
.g1 .i2 {background-color: lightgray;}
.g1 .i3 {background-color: lightgray;}
.g1 .i4 {background-color: lightgray;}
.g1 .i5 {background-color: lightgray;}
.g1 .i6 {background-color: lightgray;}
.g1 .i7 {background-color: lightgray;}
.g1 .i8 {background-color: lightgray;}
.g1 .i9 {background-color: lightgray;}

.g1 {
    display: grid;
    grid-template-columns: repeat(3, 200px);
    grid-template-rows: repeat(3,200px);
    gap: 10px;
}

.g2 .i1 {background-color: salmon;}
.g2 .i2 {background-color: salmon;}
.g2 .i3 {background-color: salmon;}
.g2 .i4 {background-color: salmon;}
.g2 .i5 {background-color: salmon;}
.g2 .i6 {background-color: salmon;}
.g2 .i7 {background-color: salmon;}
.g2 .i8 {background-color: salmon;}
.g2 .i9 {background-color: salmon;}
.g2 .i10 {background-color:salmon;}
.g2 .i11 {background-color: salmon;}
.g2 .i12 {background-color: salmon;}
.g2 .i13 {background-color: salmon;}
.g2 .i14 {background-color: salmon;}
.g2 .i15 {background-color: salmon;}
.g2 .i16 {background-color: salmon}
.g2 {
    display: grid;
    grid-template-columns: repeat(4, 100px);
    grid-template-rows: repeat(2, 50px minmax(75px, 1fr));
    gap: 15px;
}

.g3 {
    height: 400px;
    display: grid;
    grid-template-areas:
      "header header"
      "sidebar main"
      "footer footer";
      grid-template-columns: .25fr 1fr;
      grid-template-rows: max-content auto max-content;
      gap: 15px;
  }
.g3 header {
    background-color: lightblue;
    grid-area: header;;
}
.g3 aside {
    background-color: lightpink;
    grid-area: sidebar;
}
.g3 .articles {
    background-color: teal;
}
.g3 .featured {
    background-color: lightyellow;
}
.g3 footer {
    background-color: lightgray;
    grid-area: footer;
}
main {
    display: grid;
    grid-template-columns: 100%;
    grid-template-rows: 70% 25%;
    gap: 15px;
}